.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.hero img{
    width: 250px;
    margin-top: 50px;
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 55px;
    font-weight: 600;
}
.hero h1 span{
    background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
.hero-action{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 0px 20px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 18px 30px;
    border-radius: 50px;
    background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
    cursor: pointer;
}
.hero-connect:hover{
    border: 2px solid #fff;
}
.hero-resume{
    padding: 18px 30px;
    border-radius: 50px;
    border: 2px solid #fff;
}
.hero-resume:hover{
    border-color: #b415ff;
}
.resume-a{
    text-decoration: none;
    color: #fff;
}

@media(max-width:768px){
    .hero img{
        margin-top: 80px;
    }
    .hero h1{
        width: 90%;
        font-size: 40px;
    }
    .hero p{
        width: 80%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .hero-action{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .hero-connect{
        padding: 20px 30px;
        border-radius: 40px;
    }
    .hero-resume{
        padding: 20px 50px;
        border-radius: 40px;
    }
}